@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --left-bg-color: rgba(87, 84, 236, .7);
    --right-bg-color: rgba(43, 43, 43, .8);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --unhover-width: 25%;
    --speed: 1000ms;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.split:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.left {
    left: 0;
    background-image: url(assets/ps.jpg);
}

.left::before {
    background-color: var(--left-bg-color);
    /* color overlay for the left split */
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--unhover-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--unhover-width);
}

.right {
    right: 0;
    background-image: url(assets/xbox.jpg);
}

.right::before {
    background-color: var(--right-bg-color);
    /* color overlay for the right split */
}

.right,
.right::before,
.left,
.left::before {
    transition: all var(--speed) ease-in-out;
}

h1 {
    font-size: 6.4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: .32rem solid #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 24rem;
    padding: 2.4rem;
}

.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

@media(max-width: 800px) {
    h1 {
        font-size: 3.2rem;
    }

    .btn {
        width: 19.2rem;
        padding: 1.92rem;
    }
}